<div ng-controller="ForgetPasswordController">
    <div class="container">
        <div class="row">
            <form name="forgotForm" ng-enter="forgotForm.$valid && forgotPassword(UserName)" novalidate>
                <div id="centeredPanel" class="col-md-5 col-sm-8 col-xs-12">
                    <div ng-hide="errMessage == ''" class="help-block error" ng-bind-html="errMessage">
                    </div>
                    <div ng-hide="scsMessage == ''" class="help-block success" ng-bind-html="scsMessage">
                    </div>
                    <div ng-hide="!showForm">
                        <div class="panel panel-forgotPass">
                            <div class="row">
                                <div class="col-lg-12 no-gutter">
                                    <div id="forgotPass-form">
                                        <div class="col-md-12 marginbot15">
                                            <h3>Forgotten Password</h3>
                                            <h4>Please enter your email address below and click the Reset Password button</h4>
                                            <div class="form-group">
                                                <input type="email" name="username" id="username" tabindex="1" class="form-control" placeholder="Enter email address" ng-model="UserName.text" required>
                                                <img src="../../Assets/images/icon_user.png" class="input_icon_pos" />
                                                <div class="error" ng-messages="forgotForm.username.$error" ng-show="forgotForm.username.$dirty || forgotForm.$submitted">
                                                    <div ng-message="required">{{'EmailFieldIsRequired' | translate}}</div>
                                                    <div ng-message="email">{{ 'InvalidEmail' | translate }}</div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group no-botmargin">
                                                <input type="submit" name="login-submit" id="reset-btn" tabindex="4" class="form-control btn btn-blue" value="Reset Password" ng-click="forgotForm.$valid && forgotPassword(UserName)">
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group no-botmargin">
                                                <input type="submit" name="login-submit" id="cancel-btn" tabindex="4" class="form-control btn btn-grey" value="Cancel" ng-click="cancel()">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div ng-hide="errMassage == ''">
                            {{errMassage}}
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>