<md-dialog class="_md md-default-theme _md-transition-in" md-theme="default" aria-label="Sample Dialog">
    <md-dialog-content class="md-dialog-content">
        <md-content>
            <div class="modal-body">
                <h4>
                    {{message}}
                </h4>
            </div>
        </md-content>
        <div class="md-actions">
            <md-button class="md-raised md-primary"  ng-click="addAllUsers()">
                Save
            </md-button>
            <md-button class="btn btn-sm btn-blue" ng-click="loadData()">
                Load
            </md-button>
            <md-button class="btn btn-sm btn-grey" ng-click="closeDialog()">
                Cancel
            </md-button>
        </div>
    </md-dialog-content>
</md-dialog>'