<md-dialog class="_md md-default-theme _md-transition-in" md-theme="default" aria-label="Sample Dialog"  ng-cloak>
    <md-dialog-content class="md-dialog-content">
        <md-content>
            <div class="modal-body"><h4>Confirm to delete user</h4></div>
        </md-content>
        <div class="md-actions">
            <md-button class="btn btn-sm btn-red" ng-click="deleteUser()">
                Delete
            </md-button>
            <md-button class="btn btn-sm btn-grey" ng-click="closeDialog()">
                Cancel
            </md-button>
        </div>
    </md-dialog-content>
</md-dialog>