<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=301880
  -->
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <section name="nlog" type="NLog.Config.ConfigSectionHandler, NLog" />
  </configSections>
  <connectionStrings>
    <!--<add name="PODDatabase" connectionString="data source=10.0.1.78;UID=sa;PWD=Abcd1234;initial catalog=POD2" providerName="System.Data.SqlClient" />-->
    <add name="PODDatabase" connectionString="data source=EVOLVE-PC16; integrated security=True; initial catalog=POD2" providerName="System.Data.SqlClient" />
    <!--<add name="PODDatabase" connectionString="data source=HOPEPODTEST;UID=HOPEPODTEST\nune;PWD=Evolve987#;initial catalog=POD" providerName="System.Data.SqlClient" />-->
    <!--<add name="PODDatabase" connectionString="data source=HOPEPODTEST;UID=podtest;PWD=podtest123;initial catalog=POD" providerName="System.Data.SqlClient" />-->
  <!--<add name="PODDatabase" 
       connectionString="Server=NUNEDARB;Database=POD;Trusted_Connection=Yes;"  providerName="System.Data.SqlClient"/>-->
  </connectionStrings>
  <appSettings>
    <add key="webpages:Version" value="3.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
    <!--<add key="BaseUrl" value="http://local.pod.com/" />-->
    <add key="BaseUrl" value="http://local.pod.com/" />
    <add key="DbEngine" value="SQLServer" />

    <!-- Lockout -->
    <add key="UserLockoutEnabledByDefault" value="true" /> 
    <add key="DefaultAccountLockoutTimeSpan" value="1" />
    <add key="MaxFailedAccessAttemptsBeforeLockout" value="3" />
    <!--<add key="MaxLockoutsBeforeForcePasswordReset" value="2" />-->

    <!--email configs-->
    <!--<add key="stmpServer" value="smtp.mail.yahoo.com" />
    <add key="emailService:Login" value="dotnetdevelopment2@yahoo.com" />
    <add key="emailService:Password" value="Aa!12345" />
    <add key="emailService:From" value="dotnetdevelopment2@yahoo.com" />
    <add key="emailService:Port" value="587" />
    <add key="emailService:DisplayName" value="Volo" />-->

    <!--email configs-->
    <add key="stmpServer" value="smtp.sendgrid.net" />
    <add key="emailService:Login" value="azure_79846f660c548dcf39db880b45c14d79@azure.com" />
    <add key="emailService:Password" value="C5TR6WDxPhCD1X3" />
    <add key="emailService:From" value="noreply@hopeconstructionmaterials.com" />
    <add key="emailService:DisplayName" value="Evolve" />
    <add key="emailService:CompanyEmail" value="nunedarb@yahoo.com" />
    <add key="emailTemplate:ResetPassword" value="ResetPassword.txt" />
    <add key="emailTemplate:SetPessword" value="SetPassword.txt" />
    <add key="emailTemplate:Report" value="Report.txt" />
    
    


    <!-- TicketService -->
    <add key="AppUsername" value="HCExternal" />
    <add key="ClientUsername" value="PODWebService" />
    <add key="AppPassword" value="5UdyypJFRk8XLdBV" />
    <add key="companyID" value="HCM639K2" />
    <add key="documentType" value="docPODSearchWS-236" />

  </appSettings>
  <!-- 
    For a description of web.config changes see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.5" />
      </system.Web>
  -->
  <system.web>
    <compilation debug="true" targetFramework="4.5" />
    <httpRuntime targetFramework="4.5" />
  </system.web>

  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_DocumentManagement">
          <security mode="Transport" />
        </binding>
        <binding name="BasicHttpBinding_ServiceManagement">
          <security mode="Transport" />
        </binding>
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="https://eolt01.edmonline.com/Services/EDMOnlineService.svc/DocumentManagement" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_DocumentManagement" contract="EDMOnlineServiceReference.DocumentManagement" name="BasicHttpBinding_DocumentManagement" />
      <endpoint address="https://eolt01.edmonline.com/Services/EDMOnlineService.svc/ServiceManagement" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ServiceManagement" contract="EDMOnlineServiceReference.ServiceManagement" name="BasicHttpBinding_ServiceManagement" />
    </client>
  </system.serviceModel>
  
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security.OAuth" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security.Cookies" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" culture="neutral" publicKeyToken="30ad4fe6b2a6aeed" />
        <bindingRedirect oldVersion="0.0.0.0-8.0.0.0" newVersion="8.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.2.0" newVersion="5.2.2.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Optimization" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-1.1.0.0" newVersion="1.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-1.5.2.14234" newVersion="1.5.2.14234" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Http" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http.Formatting" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
<system.webServer>
    <handlers>
      <remove name="ExtensionlessUrlHandler-Integrated-4.0" />
      <remove name="OPTIONSVerbHandler" />
      <remove name="TRACEVerbHandler" />
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="*" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
    </handlers>
  </system.webServer>

  <nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.nlog-project.org/schemas/NLog.xsd NLog.xsd" autoReload="true" throwExceptions="false" internalLogLevel="Off" internalLogFile="c:\temp\nlog-internal.log">


    <variable name="date" value="Longdate : " />
    <variable name="trace" value="Stacktrace : " />
    <variable name="myexception" value="Exception : " />
    <variable name="mymessage" value="Message : " />
    <variable name="lineX" value="-------------------------------------------------------------------" />

    <targets>
      <target xsi:type="File" name="logfile" fileName="D:\ooo.txt" layout="             LongDate   : ${longdate}${newline}             Stacktrace : ${stacktrace}${newline}             Exception  : ${exception}${newline}             Message    : ${message}${newline}             ${lineX}" />
    </targets>
    <rules>
      <logger name="*" minlevel="Debug" writeTo="logfile" />
    </rules>
  </nlog>

</configuration>