.border-radius5 {
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}
* {
  margin: 0;
  padding: 0;
}
html {
  height: 100%;
}
body {
  padding: 0;
  margin: 0;
  font-family: "Trebuchet MS", Helvetica, Arial, sans-serif;
  font-size: 14px;
  line-height: 1.42857143;
  color: #333333;
  background: #c5c9cc url('../images/bg.png') repeat top left;
  height: 100%;
}
.centered {
  max-width: 1170px;
  margin: 0 auto;
}
.fl {
  float: left;
}
.fr {
  float: right;
}
.over_hide {
  overflow: hidden;
}
.clear {
  clear: both;
}
.fs16 {
  font-size: 16px;
}
* {
  outline: none;
}
input:focus {
  -webkit-appearance: none;
  -moz-appearance: none;
  outline-style: none;
  box-shadow: none;
  border-color: transparent;
  border-color: inherit;
  -webkit-box-shadow: none;
  box-shadow: none !important;
}
input[disabled] {
  color: #fff;
}
.no-gutter {
  padding-right: 0 !important;
  padding-left: 0 !important;
}
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  transition: background-color 5000s ease-in-out 0s;
}
.no-botmargin {
  margin-bottom: 0;
}
.marginbot15 {
  margin-bottom: 15px;
}
.marginright15 {
  margin-right: 15px;
}
input[type="radio"],
input[type="checkbox"] {
  float: left;
  margin-right: 5px;
}
.topline {
  height: 120px;
  background: #fff;
}
.logo_holder {
  padding-top: 27px;
  float: left;
}
.slogan {
  padding-top: 51px;
  float: right;
}
.slogan h3 {
  font-size: 22px;
  font-style: italic;
  font-weight: bold;
  margin: 0;
}
.navbar-fixed-top {
  position: relative;
}
.navbar-inverse {
  border: 0 none;
  background: #702082;
}
.navbar-inverse .navbar-nav {
  width: 100%;
}
.navbar-inverse .navbar-nav li.fr {
  float: right;
}
.navbar-inverse .navbar-nav li a.login {
  background-image: url('../images/icon-login.png');
  background-repeat: no-repeat;
  background-position: 15px 15px;
  padding-left: 37px;
}
.navbar-inverse .navbar-nav li a.login:hover {
  background-position: 15px -65px;
}
.navbar-inverse .navbar-nav li a.logout {
  background-image: url('../images/icon-logout.png');
  background-repeat: no-repeat;
  background-position: 13px 15px;
  padding-left: 37px;
}
.navbar-inverse .navbar-nav li a.logout:hover {
  background-position: 13px -65px;
}
.navbar-inverse .navbar-nav > li > a {
  color: #fff;
  font-size: 16px;
}
.navbar-inverse .navbar-nav > li > a:hover {
  color: #000000;
  background-color: #fff;
}
.navbar-brand {
  display: none;
}
.navbar {
  margin-bottom: 65px;
}
footer {
  background: #fff;
  margin-top: 20px;
  padding: 22px 0;
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
}
footer p {
  font-size: 14px;
  color: #5b6c78;
  margin-top: 20px;
}
.panel {
  padding: 35px;
}
.panel-login {
  margin-bottom: 50px;
}
#login-form h3,
#register-form h3,
.panel-forgotPass h3 {
  margin-top: 0;
  text-transform: uppercase;
  font-size: 28px;
  color: #1aa8ae;
}
#login-form h4,
#register-form h4,
.panel-forgotPass h4 {
  font-size: 22px;
  margin-bottom: 30px;
}
#login-form,
#register-form,
#forgotPass-form {
  text-align: center;
}
#login-form a.colored,
#register-form a.colored,
#forgotPass-form a.colored {
  font-size: 13px;
  text-transform: uppercase;
  color: #1aa8ae;
}
#centeredPanel {
  float: none;
  margin: 0 auto;
}
.container {
  padding-left: 0;
  padding-right: 0;
}
.row {
  margin-left: 0;
  margin-right: 0;
}
.form-group {
  overflow: hidden;
  position: relative;
}
.form-control {
  background: #eceff1;
  color: #5b6c78;
  font-size: 16px;
  border: 0 none;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  box-shadow: none;
  height: 50px;
  padding-left: 50px;
}
.form-control[disabled] {
  background: #97a3ab;
}
.form-control[disabled] input {
  color: #fff;
}
#username :-moz-placeholder {
  color: #fff;
}
#username ::-webkit-input-placeholder {
  color: #fff;
}
.input_icon_pos {
  position: absolute;
  left: 15px;
  top: 15px;
}
#setPasswordPanel,
#loginPanel {
  float: none;
  margin: 0 auto;
}
#register-submit.btn-register,
#login-submit.btn-login,
.btn-blue,
.btn-grey,
.btn-red,
.btn.disabled,
.btn[disabled],
fieldset[disabled] .btn {
  outline: none;
  color: #fff;
  font-weight: normal;
  background: #1aa8ae;
  border: 0 none;
  cursor: pointer;
  padding-left: inherit;
  padding-right: inherit;
}
#register-submit.btn-register:hover,
#login-submit.btn-login:hover,
.btn-blue:hover,
.btn-grey:hover,
.btn-red:hover,
.btn.disabled:hover,
.btn[disabled]:hover,
fieldset[disabled] .btn:hover,
#register-submit.btn-register:focus,
#login-submit.btn-login:focus,
.btn-blue:focus,
.btn-grey:focus,
.btn-red:focus,
.btn.disabled:focus,
.btn[disabled]:focus,
fieldset[disabled] .btn:focus,
#register-submit.btn-register.focus,
#login-submit.btn-login.focus,
.btn-blue.focus,
.btn-grey.focus,
.btn-red.focus,
.btn.disabled.focus,
.btn[disabled].focus,
fieldset[disabled] .btn.focus {
  background-color: #137d82;
  color: #fff;
  outline: none;
  -webkit-appearance: none;
  -moz-appearance: none;
}
#register-submit.btn-register.btn-lg,
#login-submit.btn-login.btn-lg,
.btn-blue.btn-lg,
.btn-grey.btn-lg,
.btn-red.btn-lg,
.btn.disabled.btn-lg,
.btn[disabled].btn-lg,
fieldset[disabled] .btn.btn-lg {
  font-size: 20px;
  padding: 11px 25px;
}
#register-submit.btn-register.btn-sm,
#login-submit.btn-login.btn-sm,
.btn-blue.btn-sm,
.btn-grey.btn-sm,
.btn-red.btn-sm,
.btn.disabled.btn-sm,
.btn[disabled].btn-sm,
fieldset[disabled] .btn.btn-sm {
  font-size: 14px;
  padding: 4px 16px;
}
.btn.disabled:hover,
.btn[disabled]:hover,
fieldset[disabled] .btn:hover {
  background-color: #1aa8ae;
}
.btn-grey {
  background: #8c99a2 !important;
}
.btn-grey:hover,
.btn-grey:focus,
.btn-grey.focus {
  background-color: #70808b !important;
  color: #fff;
}
.btn-red {
  background: #dc1c27 !important;
}
.btn-red:hover,
.btn-red:focus,
.btn-red.focus {
  background-color: #af161f !important;
  color: #fff;
}
.btn-blue {
  background: #1aa8ae !important;
}
.btn-blue:hover,
.btn-blue:focus,
.btn-blue.focus {
  background-color: #137d82 !important;
  color: #fff;
}
.panel {
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}
.help-block.error {
  padding: 21px;
  background-color: #ffe6e7;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  color: #dc1c27;
  font-size: 17px;
  padding-left: 50px;
  background-image: url('../images/icon_error.png');
  background-repeat: no-repeat;
  background-position: 15px 21px;
}
.help-block.success {
  padding: 21px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  font-size: 17px;
  padding-left: 50px;
  background-image: url('../images/icon_success.png');
  background-repeat: no-repeat;
  background-position: 15px 21px;
  color: #3c763d;
  background-color: #dff0d8;
}
.form-group {
  text-align: left;
}
.form-group .error {
  color: #dc1c27;
  margin-top: 5px;
}
.error-msg,
.error {
  color: #dc1c27;
  margin-top: 5px;
  display: block;
}
.success-msg {
  color: #00aa58;
  margin-top: 5px;
}
.contentwhite {
  background: #fff;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  padding: 25px 20px;
  overflow: hidden;
}
.page-header {
  margin: 0;
  font-size: 26px;
  color: #000;
  border-bottom: 0 none;
}
/***********Grid table************/
th {
  background: #224254;
  color: #fff;
  text-decoration: none;
  border-bottom: 0 none !important;
  font-size: 16px;
  font-weight: normal;
  vertical-align: middle !important;
}
tr:nth-child(even),
tr.edit:nth-child(even) {
  background-color: #eceff1;
}
tr:hover {
  background-color: #c2fdff;
}
tr.edit:hover {
  background-color: transparent;
}
tr.edit:nth-child(even):hover {
  background-color: #eceff1;
}
.sort-false,
.sort-true {
  background-color: #224254;
  background-image: none;
}
td {
  border-top: 0 none !important;
  color: #5b6c78;
  padding: 12px;
  font-size: 15px;
}
.ellipsis {
  text-overflow: ellipsis;
  -o-text-overflow: ellipsis;
  -ms-text-overflow: ellipsis;
}
.email_field {
  width: 240px;
  overflow: hidden;
}
.admin_user_field {
  width: 180px;
  overflow: hidden;
}
.button {
  border: 0 none;
  background-repeat: no-repeat;
  text-indent: -999999px;
  width: 21px;
  height: 21px;
  background-position: center left;
  display: block;
  padding: 0;
  float: left;
  background-color: transparent;
}
.button.edit {
  background-image: url('../images/icon-edit.png');
}
.button.delete {
  background-image: url('../images/icon-delete.png');
}
.button.manage {
  background-image: url('../images/icon-users.png');
  width: 22px;
}
.button:hover {
  background-position: right center;
}
.button:first-child {
  margin-right: 10px;
}
.pagination {
  float: right;
  margin: 0;
}
.pagination > .active > a,
.pagination > .active > span,
.pagination > .active > a:hover,
.pagination > .active > span:hover,
.pagination > .active > a:focus,
.pagination > .active > span:focus {
  color: #fff;
  background-color: #1aa8ae;
  border-color: #1aa8ae;
}
#edit .inpit-sm {
  box-shadow: none;
}
.edit .error {
  display: block;
}
.table.grid input {
  color: #000;
  padding: 4px 10px;
  font-size: 14px;
  width: 100%;
  border: 1px solid #afb9c0;
  border-radius: 4px;
  -webkit-box-shadow: inset 1px 1px 7px 0px #ccc;
  -moz-box-shadow: inset 1px 1px 7px 0px #ccc;
  box-shadow: inset 1px 1px 7px 0px #ccc;
}
.table.grid select {
  color: #000;
  font-size: 14px;
  border-radius: 4px;
  -webkit-box-shadow: inset 1px 1px 7px 0px #ccc;
  -moz-box-shadow: inset 1px 1px 7px 0px #ccc;
  box-shadow: inset 1px 1px 7px 0px #ccc;
  padding-top: 4px;
  padding-right: 2px;
  border: 1px solid #afb9c0;
  cursor: pointer;
}
.table.grid input :focus,
.table.grid select :focus {
  background-color: #c2fdff;
}
.table.grid input :focus option,
.table.grid select :focus option {
  background-color: #fff;
}
input[type="checkbox"]:focus {
  outline-offset: 2px;
  -webkit-appearance: checkbox;
}
.welcome {
  color: #fff;
  display: block;
  padding-top: 15px;
}
.wrapper {
  position: relative;
  min-height: 100%;
}
.content {
  padding-bottom: 90px;
  background: #c5c9cc url('../images/bg.png') repeat top left;
}
.md-actions {
  -webkit-justify-content: center !important;
  padding-left: 8px!important;
}
md-datepicker {
  border: 1px solid #afb9c0;
  border-radius: 4px;
  -webkit-box-shadow: inset 1px 1px 7px 0px #ccc;
  -moz-box-shadow: inset 1px 1px 7px 0px #ccc;
  box-shadow: inset 1px 1px 7px 0px #ccc;
  padding: 4px 10px;
  margin-right: 0;
}
.md-calendar-scroll-container {
  box-shadow: none;
  width: 308px !important;
}
.md-datepicker-input-mask {
  width: 308px !important;
}
.table.grid input.md-datepicker-input {
  border: 0 none;
  box-shadow: none;
}